In [1]:
# Import Numpy and Pandas Module
import numpy as np
import pandas as pd

## Question 1

In [2]:
# The extend() function creates a single one dimensional list from lists A and B
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A_B = A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2

In [3]:
# The np.identity() function creates a 3x3 identity matrix here
a = np.identity(3)
a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Question 3

In [4]:
# Read the Hamoye Fuel Dataset to work with the data and show the first five rows and columns of the data set
hamoye_fuel_data = pd.read_csv('kizhamdata.csv', error_bad_lines=False)
hamoye_fuel_data.head()

,Unnamed: 0,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [5]:
# Remove the Unnamed: 0 column
hamoye_fuel_data.drop('Unnamed: 0', axis=1, inplace=True)
hamoye_fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [6]:
# To find out the type of fuel type had the lowest average fuel cost per unit burned
hamoye_fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()[:1]

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

In [7]:
print ("The fuel type code with the lowest average fuel cost per unit burned is Gas with an average of", round(13.659397, 3))

The fuel type code with the lowest average fuel cost per unit burned is Gas with an average of 13.659

## Question 4

In [8]:
# Get the summary statistics of the dataset by using the describe() function
hamoye_fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [9]:
print ("The standard deviation and 75th percentile of fuel_mmbtu_per_unit are",
       round(10.600220, 2), "and", round(17.006000, 2), "respectively")

The standard deviation and 75th percentile of fuel_mmbtu_per_unit are 10.6 and 17.01 respectively

## Question 5

In [10]:
# Obtain the skewness and kurtosis for fuel quantity burned
hamoye_fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [11]:
hamoye_fuel_data['fuel_qty_burned'].kurtosis()

651.3694501337732

In [12]:
print ("The Skewness for fuel quantity burned is", 
       round(15.851495469109503, 2), "and the Kurtosis is", round(651.3694501337732, 2))

The Skewness for fuel quantity burned is 15.85 and the Kurtosis is 651.37

## Question 6

In [13]:
# Check for missing values in the dataset
hamoye_fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [14]:
# Find the pecentage of the missing values
hamoye_fuel_data.isnull().sum() / len(hamoye_fuel_data) * 100

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [16]:
print ("The Fuel Unit feature has " + 
       str(180) + " missing values with the percentage of the missing values as " + 
       str(round(0.609694, 2)) + "%")

The Fuel Unit feature has 180 missing values with the percentage of the missing values as 0.61%

## Question 7

The Fuel Unit feature is a categorical data and we use the mode imputation technique to fill the missing values

In [17]:
# Find the most common value in the fuel unit feature
hamoye_fuel_data['fuel_unit'].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [18]:
# Fill the missing values with 'mcf' since it is the most occuring value
hamoye_fuel_data['fuel_unit'] = hamoye_fuel_data['fuel_unit'].fillna(value='mcf')

In [19]:
# Check that the missing values have been filled
hamoye_fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

## Question 8

In [21]:
# Find the correlation between each of the other features with fuel cost per unit burned
hamoye_fuel_data.corr().loc['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

From the result above, the features with the second and third lowest correlation with Fuel Cost Per Unit Burned are Fuel Quantity Burned and Fuel mmbtu Per Unit

## Question 9

In [22]:
# Get the sum of fuel cost per unit burned in relation to the report year and the fuel type code
hamoye_fuel_data2 = hamoye_fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
hamoye_fuel_data2

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
             waste                      52.762
1995         coal                    14571.785
             gas                      9087.905
             nuclear                384152.639
             oil                     17858.281
             other                     183.577
             waste                    -192.699
1996         coal                    12694.803
             gas                      1467.390
             nuclear                 66657.887
             oil                      5357.028
             other                     160.075
             waste                      88.092
1997         coal                    43742.178
             gas                      1518.471
             nuclear                112593.911
             oil                      5387.536
             other                     153.923
             waste                     137.433
1998         coal                    11902.597
             gas                      7475.596
             nuclear                117788.269
             oil                      2608.657
             other                     225.428
             waste                     238.109
                                       ...
2013         other                     182.494
             waste                     609.411
2014         coal                    15412.197
             gas                      4169.285
             nuclear                229158.129
             oil                    268670.603
             other                       0.661
             waste                     591.594
2015         coal                    13338.235
             gas                      6224.304
             nuclear                208830.486
             oil                     31038.094
             other                       0.595
             waste                     629.270
2016         coal                    11100.925
             gas                      1994.266
             nuclear                213837.559
             oil                     28012.376
             other                       0.609
             waste                     539.079
2017         coal                    10254.284
             gas                      4424.244
             nuclear                197491.493
             oil                     31935.723
             waste                     452.079
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [23]:
# Find the percentage change in fuel cost per unit burned in 1998 compared to 1994 for Coal
year_1994, year_1998 = hamoye_fuel_data2.loc[[1994, 1998], 'coal']
percentageChange = ((year_1998 - year_1994) / (year_1994)) * 100
percentageChange

-20.56765451826049

The percentage change for Coal in the fuel cost per unit burned in 1998 compared to 1994 is approximately -21% which suggests a percentage decrease and implies that the fuel cost per unit burned for coal decreased in 1998 compared to its cost in 1994.

## Question 10

In [24]:
# Find the year with the highest average fuel cost per unit delivered
hamoye_fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)[:1]

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

The year with the highest mean fuel cost per unit delivered is 1997.